/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_light {
  --padding-hdr-footer: 20px;
  --font-family: 'IBM Plex Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --title-text-shadow: #ff0070;
  --accent-color-link: #353430;
  --title-txt-block-clolor: #353430;
  --background-color: #fff1f7;
  --hover-color: rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --rec-display: none;
}

/* Переключение темы от предпочтения пользовательского интерфейса */

@media (prefers-color-scheme: light) {
  body {
    --padding-hdr-footer: 20px;
    --font-family: 'IBM Plex Mono', monospace;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size: 18px;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --title-text-shadow: #ff0070;
    --accent-color-link: #353430;
    --title-txt-block-clolor: #353430;
    --background-color: #fff1f7;
    --hover-color: rgba(50, 49, 45, 0.4);
    --background-image: url(../images/cover-image-light.png);
    --rec-display: none;
  }
}
