/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-hdr-footer: 20px;
  --font-family: 'IBM Plex Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --title-text-shadow: #ff0070;
  --accent-color-link: #000;
  --title-txt-block-clolor: #ff0070;
  --background-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --rec-display: visible;
}

/* Переключение темы от предпочтения пользовательского интерфейса */

@media (prefers-color-scheme: light) {
  body {
    --padding-hdr-footer: 20px;
    --font-family: 'IBM Plex Mono', monospace;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size: 18px;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --title-text-shadow: #ff0070;
    --accent-color-link: #353430;
    --title-txt-block-clolor: #353430;
    --background-color: #fff1f7;
    --hover-color: rgba(50, 49, 45, 0.4);
    --background-image: url(../images/cover-image-light.png);
    --rec-display: none;
  }
}
