/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-hdr-footer: 20px;
  --font-family: 'IBM Plex Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --title-text-shadow: #ff0070;
  --accent-color-link: #000;
  --title-txt-block-clolor: #ff0070;
  --background-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --rec-display: visible;
}
